.show-up-blur {
	animation: showUpBlurAnimation 1s forwards;
}
@keyframes showUpBlurAnimation {
	0% {
		opacity: 0;
		filter: blur(15px);
		transform: translateX(-300dvw);
	}
	80% {
		opacity: 0;
	}
	to {
		opacity: 1;
		filter: blur(0px);
		transform: translateX(0dvw);
	}
}

.blur-out {
	animation: blurOut 1.5s forwards;
}
@keyframes blurOut {
	0% {
		filter: blur(10px);
	}
	to {
		filter: blur(0px);
	}
}

.fade-in {
	opacity: 0;
	transform: translateY(100px);
	transition: 0.5s;

	&.show {
		opacity: 1;
		transform: translateY(0);
	}
}

.zoom-up {
	animation: zoomUp 1.5s forwards;
}
@keyframes zoomUp {
	0% {
		scale: 0;
	}
	to {
		scale: 1;
	}
}

.magic-effect {
	position: relative;

	&::after,
	&::before {
		content: "\2726";
		font-size: 2rem;
		position: absolute;
		top: 0px;
		left: 0px;
		bottom: 0px;
		right: 0px;
		opacity: 0;
		transition: all 0.3s ease;
		pointer-events: none;
	}

	&:hover,
	&:active {
		&::before {
			opacity: 1;
			top: -30px;
			left: -30px;
			bottom: unset;
			right: unset;
			transform: rotate(360deg);
		}

		&::after {
			opacity: 1;
			top: unset;
			left: unset;
			bottom: -30px;
			right: -30px;
			transform: rotate(360deg);
		}
	}
}
