@import "reset";
@import "animations";
@import "navbar";
@import "footer";
@import "request-product";
@import "products";
@import "docs";

// Mixins
@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
@mixin animation-delay($delay) {
	animation-delay: $delay;
	filter: blur(15px);
	transform: translateY(300vh);
}

.section-title {
	color: $primary-color;
	text-transform: uppercase;
	font-size: 2rem;
	margin-bottom: 2rem;
	letter-spacing: 2px;
	font-family: "DMSerifDisplay";
}

// Header
.header {
	background-image: url(../assets/header.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100dvh;
}
.header-content {
	height: 100%;
	@include flex-center;
	flex-direction: column;
	color: $primary-color;

	@media screen and (min-width: 700px) {
		margin: auto;
		max-width: 1200px;
		padding: 2rem;
		align-items: flex-start;
	}
}
.header-title {
	font-size: 20dvw;
	text-align: center;
	line-height: 0.8;
	text-transform: uppercase;

	p {
		font-family: "DMSerifDisplay";
	}
	@media screen and (min-width: 700px) {
		font-size: 11dvw;
		transform: none;
		text-align: left;

		:first-child {
			font-size: 10dvw;
		}
	}
}
.header-subtitle {
	font-family: "DMSerifDisplay";
	letter-spacing: 2px;
	font-size: 5dvw;

	@include animation-delay(0.3s);

	@media screen and (min-width: 700px) {
		font-size: 3dvw;
	}
}
.cta-section {
	display: flex;
	flex-direction: column;
	gap: 5px;
	width: 100%;
	max-width: 600px;
	padding: 1rem;
	bottom: 60px;

	.btn {
		@include animation-delay(0.5s);
	}
	.ghost-btn {
		@include animation-delay(0.6s);
	}

	@media screen and (min-width: 700px) {
		margin-top: 1rem;
		padding: 0;
		flex-direction: row;
		top: unset;
	}
}

// Why Us
.why-us-container {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 30px;

	@media screen and (min-width: 700px) {
		grid-template-columns: repeat(3, 1fr);
	}
}

.reason {
	background: $primary-color;
	backdrop-filter: blur(10px);
	border: 1px solid $glass-border;
	border-radius: $border-radius-rounded;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	transition: all 0.3s;

	&:hover {
		transform: scale(1.05);
	}

	.reason-icon {
		width: 50px;
	}

	h3 {
		font-size: 1.4rem;
		color: $light-color;
		text-transform: uppercase;
		letter-spacing: 1px;
	}

	p {
		font-size: 0.95rem;
		line-height: 1.6;
		color: $light-color;
	}

	@media screen and (min-width: 700px) {
		max-width: 350px;
	}
}

// Products
.products {
	max-width: 100vw;
}
.products-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 5px;
	max-height: 500px;
	max-width: 900px;
	margin: 0 auto;
	.product-type:first-child {
		grid-column: span 2;
	}
	.product-type:last-child {
		grid-column: span 2;
	}

	@media screen and (min-width: 700px) {
		gap: 15px;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 1fr);
	}
}
.product-type {
	position: relative;
	border-radius: $border-radius-general;
	overflow: hidden;

	&:hover {
		.product-type-image {
			transform: scale(1.3);
		}
		.product-type-overlay {
			background: $primary-color;
			backdrop-filter: blur(10px);
		}
		.product-type-title {
			font-size: 1.8rem;
			color: $dark-color;
		}
	}
}
.product-type-image {
	border-radius: $border-radius-general;
	width: 100%;
	height: 100%;
	object-fit: cover;
	aspect-ratio: 3/2;
}
.product-type-overlay {
	border-radius: $border-radius-general;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	@include flex-center;
}
.product-type-title {
	color: $light-color;
	font-size: 1.3rem;
	font-weight: 800;
	letter-spacing: 1px;
	text-transform: capitalize;
}
.locked {
	filter: grayscale(1);
	position: relative;
	cursor: not-allowed !important;
	&::after {
		position: absolute;
		content: url("../assets/icons/lock-key-fill.svg");
		bottom: 5%;
		right: 5%;
		color: $light-color;
	}
}

// About
.about {
	@media screen and (min-width: 700px) {
		padding: 2rem;
	}
}
.about-container {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	align-items: center;
	position: relative;
	@media (min-width: 700px) {
		flex-direction: row;
	}
}

.photo-stack {
	width: 100%;
	max-width: 600px;
	position: relative;
	margin-top: 5rem;
}

.about-photo {
	width: 100%;
	border: 8px solid $light-color;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	aspect-ratio: 4/5;
	object-fit: cover;
	object-position: top;
	position: relative;
	max-width: 250px;

	&:first-child {
		transform: rotateZ(-25deg) translate(-5%, 0);
		z-index: 1;
	}

	&:nth-child(2) {
		transform: rotateZ(5deg) translate(5%, -10%);
		z-index: 2;
	}

	&:last-child {
		transform: rotateZ(-10deg) translate(-12%, -25%);
		z-index: 1;
	}

	&:hover {
		transform: rotate(0deg) scale(1.2);
		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
		z-index: 3;
	}

	@media screen and (min-width: 700px) {
		max-width: 200px;

		&:first-child {
			transform: rotate(-25deg) translateX(-20%);
			&:hover {
				transform: rotate(0deg) scale(1.2);
			}
		}
	}
}

.jeweler-info {
	max-width: 450px;
	padding: 1rem;

	h3 {
		margin-bottom: 1rem;
		position: relative;
		font-size: 3.5rem;
		line-height: 0.8;

		:first-child {
			text-align: left;
			font-family: "DMSerifDisplay";
		}
		:last-child {
			text-align: right;
			font-family: "DMSerifDisplay";
		}
	}

	p {
		font-size: 1rem;
		line-height: 1.6;
		text-align: justify;
		font-weight: 500;
	}
}

// Links
.links {
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 10px;

	@media screen and (min-width: 700px) {
		flex-direction: row;
	}
}
